greet.div
    h1 Welcome to Mike's Swagger Wagon(Tesla)
    h2 Navigate to this link to sign the guestbook via twitter. Photos work too!
    p The QR Code is going to go here.
    //qr code needs to be here to navigate to twitter to tweet properly.
    button(href ='guestbook') Continue