
.container
	script(src= "maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
	h1 Guestbook
	link(href='css/bootstrap.min.css', rel='stylesheet')
	#bookList(ng-repeat = "post in posts",class = "well")

		.post.row
			.col-lg-4
				p.vcenter.bold {{post.name}}
			.col-lg-5
				p {{post.date}}
				p {{post.content}}
			.col-lg-3
				img(height = '100px', src = "/signatures/{{post.signatureLink}}.png")