p The Guestbook list goes here.
script(src= "maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
link(href='css/bootstrap.min.css', rel='stylesheet')
p We should have a list of past people populated here, both retrieved from twitter and from the database.
#bookList(ng-repeat = "post in posts")
	
	.post
		img(height='220px', src="https://s3.amazonaws.com/patreon/9acf38ff7536ff9c3fe4a6e4f1cf298b.jpg")
		p {{post.name}}
		p {{post.date}}

input(type = "text") Name
input(type = "text") Message
button(ng-click="saveMessage()") Sign Guestbook

.container(width='500px')
	.row
		div(class="col-sm-6,col-lg-3")
			img(src='images/Twitter_app.png', class="img-responsive")
		div(class="col-sm-6, col-lg-3")
			This is part of our grid.
		div(class="col-sm-6, col-lg-3")
			This is part of our grid.   
		div(class="col-sm-6, col-lg-3")
			This is part of our grid.


