body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centerimage {
	margin: auto;

}

#image {
	display:block;
	margin:auto;
}

p.inline {
	display: inline;
}